.intro-header.has-bg-image {
    background-image: var(--intro-bg-image);
}

.with-header-shadow {
    text-shadow: 2px 2px 5px #00000088;
}

.header-mask {
    width: 100%;
    height: 100%;
    position: absolute;
}

.intro-header.with-header-mask {
    position: relative;
}

.post-container table {
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    width: 100%;
    word-wrap: break-word;
    word-break: break-all;
}

.post-container table th {
    text-align: center;
}

.post-container table th,
.post-container table td {
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.github-star-frame {
    margin-left: 2px;
    margin-bottom: -5px;
}

.hidden-pager-divider {
    visibility: hidden;
}

.keynote-header {
    height: 500px;
    overflow: hidden;
}

.keynote-frame {
    width: 100%;
    height: 100%;
    border: 0;
}

.anchorjs-link {
    position: absolute;
    left: -0.75em;
    font-size: 1.1em;
    margin-top: -0.1em;
}