---
layout: default
description: "404 NOT FOUND - 页面不存在"
header-img: "img/404-bg.jpg"
permalink: /404.html
---


<!-- Page Header -->
<header class="intro-header has-bg-image" style="--intro-bg-image: url('{{ site.baseurl }}/{% if page['header-img'] %}{{ page['header-img'] }}{% else %}{{ site['header-img'] }}{% endif %}')">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
				<div class="site-heading with-header-shadow" id="tag-heading">
					<h1>404</h1>
					<span class="subheading">{{ page.description }}</span>
				</div>
			</div>
		</div>
	</div>
</header>

<div class="container error-content-wrap">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<p>你访问的页面可能已移动、链接失效，或者地址输入有误。可以从下面的入口继续浏览：</p>
			<div class="error-actions">
				<a class="btn" href="{{ site.baseurl }}/">返回首页</a>
				<a class="btn" href="{{ site.baseurl }}/tags/">浏览标签</a>
				<a class="btn" href="{{ site.baseurl }}/feed.xml">RSS 订阅</a>
			</div>

			<hr>
			<h3>最近文章</h3>
			<ul class="list-unstyled error-recent-posts">
				{% for post in site.posts limit:6 %}
				<li class="error-recent-post-item">
					<a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}">{{ post.title }}</a>
					<small class="error-post-date">{{ post.date | date: "%Y-%m-%d" }}</small>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
