<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="google-site-verification" content="xBT4GhYoi5qRD5tr338pgPM5OWHHIDR6mNg1a3euekI" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% assign seo_title = page.title | default: site.SEOTitle %}
    {% assign seo_description = page.description | default: page.subtitle | default: page.excerpt | default: site.description | strip_html | strip_newlines | truncate: 160 %}
    {% assign seo_url = page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
    {% assign seo_image_raw = page.header-img | default: site.header-img %}
    {% if seo_image_raw contains 'http://' or seo_image_raw contains 'https://' %}
    {% assign seo_image = seo_image_raw %}
    {% else %}
    {% assign seo_image = seo_image_raw | prepend: '/' | replace: '//', '/' | prepend: site.baseurl | prepend: site.url %}
    {% endif %}

    <meta name="description" content="{{ seo_description }}">
    <meta name="keywords"  content="{{ site.keyword }}">
    <meta name="theme-color" content="{{ site.chrome-tab-theme-color }}">
    <meta property="og:site_name" content="{{ site.title }}">
    <meta property="og:title" content="{{ seo_title }}">
    <meta property="og:description" content="{{ seo_description }}">
    <meta property="og:type" content="{% if page.layout == 'post' %}article{% else %}website{% endif %}">
    <meta property="og:url" content="{{ seo_url }}">
    <meta property="og:image" content="{{ seo_image }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ seo_title }}">
    <meta name="twitter:description" content="{{ seo_description }}">
    <meta name="twitter:image" content="{{ seo_image }}">
    
    <title>{% if page.title %}{{ page.title }} - {{ site.SEOTitle }}{% else %}{{ site.SEOTitle }}{% endif %}</title>

    <!-- Web App Manifest -->
    <link rel="manifest" href="{{ site.baseurl }}/pwa/manifest.json">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/img/favicon.ico">

    <!-- Safari Webpage Icon    by-BY -->
    <link rel="apple-touch-icon" href="{{ site.baseurl }}/img/apple-touch-icon.png">
    
    <!-- Canonical URL -->
    <link rel="canonical" href="{{ seo_url }}">
    
    <!-- 404 Page -->
    {% if page.permalink == '/404.html' or page.url == '/404.html' %}
    <meta name="robots" content="noindex,follow">
    {% endif %}
    
    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | xml_escape }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/hux-blog.min.css" | prepend: site.baseurl }}">

    <!-- Pygments Github CSS -->
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">

    <!-- Custom Overrides CSS -->
    <link rel="stylesheet" href="{{ "/css/custom.css" | prepend: site.baseurl }}">

    <!-- Custom Fonts -->
    <!-- <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
    <!-- Hux change font-awesome CDN to qiniu -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Hux Delete, sad but pending in China
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/
    css'>
    -->


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- ga & ba script hoook -->
    <script></script>

    <!-- Shared async script loader -->
    <script>
        function async(u, c) {
            var d = document, t = 'script',
                o = d.createElement(t),
                s = d.getElementsByTagName(t)[0];
            o.src = u;
            if (c) {
                o.addEventListener('load', function(e) { c(null, e); }, false);
            }
            s.parentNode.insertBefore(o, s);
        }
    </script>
</head>
